<div class="container main-container">
    <h1>FireChat</h1>
    <div class="col-md-12 text-right">
        <h1 *ngIf="_chS.user.uid">
            <img src="{{_chS.user.photo}}" class="img-thumb" alt="profile photo"> &nbsp; <small>{{_chS.user.name}}</small> &nbsp;
            <button (click)="_chS.logout()" type="button" name="" id="" class="btn btn-danger">Logout</button>
        </h1>
    </div>
    <app-login *ngIf="!_chS.user.uid"></app-login>
    <div class="chat-window" *ngIf="_chS.user.uid">
        <app-chat></app-chat>
    </div>
</div>