<div class="row">
    <div class="container main-container">
        <div class="col-md-12 text-center">
            <p>Login in FireChat with your favorite account </p>
            <button (click)="doLogin('google')" type="buttom" class="btn btn-outline-danger">Google </button>
            <button (click)="doLogin('facebook')" type="buttom" class="btn btn-outline-primary"> Facebook</button>
            <button (click)="doLogin('twiter')" type="buttom" class="btn btn-outline-info"> Twiter</button>
        </div>
    </div>
</div>